#landingPage{
    background-color: #050d32;
}

#landingPage::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #0d6efd;
    filter: blur(110px);
    opacity: 60%;
    top: 0;
    right: 0;
    border-bottom-left-radius: 50%;
}

.btn-get-started{
    background: linear-gradient(45deg, pink, #0d6efd, rgb(207, 12, 207), pink) !important;
    border: none;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

.btn-arrow{
    transition: all .3s ease-in-out;
    margin-left: 5px;
    margin-bottom: 1px;
}

.btn-get-started:hover{
    transform: translateY(-6px);
}

.btn-get-started:hover .btn-arrow{
    transform: translateX(5px)
}

.hero-img{
    mix-blend-mode: lighten;
}