.nav-link{
    border-radius: 14px;
    transition: all 0.3s ease-in-out;
    padding: 12px 22px;
    color: #94a3b8 !important;
}

.nav-link:hover{
    background-color: rgba(225, 225, 225, 0.8) !important;
    /* backdrop-filter: blur(10px); */
    color: #1a1a1a !important;
    transform: translateY(-2px);
}

.nav-link.active-link{
    background-color: #0d6efd !important;
    /* backdrop-filter: blur(10px); */
    box-shadow: 0 8px 20px rgba(13, 110, 253, 0.25) !important;
    color: #fff !important;
}